<div class="px-4 pt-6">
  <div class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
    <div class="flex justify-between items-center mb-4">
    <%= @team.name %>
    </div>
  </div>
</div>



