<div class="show-container">
<%= render @membership %>
</div>
<div class="actions">
  <%= link_to "Edit this membership", edit_membership_path(@membership), class: "btn btn-primary me-2" %> |
  <%= link_to "Back to memberships", memberships_path, class: "btn btn-alt" %>

  <%= button_to "Destroy this membership", @membership, method: :delete, class: "btn btn-alt" %>
</div>
