<div id="<%= dom_id exercise_objective %>">
  <dl class="item-dl">
    <dt class="item-dt">Name</dt>
    <dd class="item-dd"><%= exercise_objective.name %></dd>

    <dt class="item-dt">Description</dt>
    <dd class="item-dd"><%= exercise_objective.description %></dd>

    <dt class="item-dt">Enabled</dt>
    <dd class="item-dd"><%= exercise_objective.enabled %></dd>

  </dl>
</div>
