<% content_for :title, "Exercise objectives" %>

<h1 class="page-heading">Exercise objectives</h1>

<div class="items-list" id="exercise_objectives">
  <% @exercise_objectives.each do |exercise_objective| %>
    <div class="item-container">
    <%= render exercise_objective %>
    <div class="item-actions">
      <%= link_to "Show this exercise objective", exercise_objective, class: 'link' %>
    </div>
  </div>
  <% end %>
</div>
<div class="pagination">
  <%== pagy_nav(@pagy) %>
</div>