<%# locals: (message:, type: "success", duration: 5000) -%>
<div
  data-controller="toast"
  data-toast-message-value="<%= message %>"
  data-toast-type-value="<%= type %>"
  data-toast-duration-value="<%= duration %>">
</div>
