<% content_for :title, "Editing predefined scenario" %>

<h1 class="page-heading">Editing predefined scenario</h1>

<%= render "form", predefined_scenario: @predefined_scenario %>

<br>

<div class="actions">
  <%= link_to "Show this predefined scenario", @predefined_scenario, class: "btn btn-primary" %>
  <%= link_to "Back to predefined scenarios", predefined_scenarios_path, class: "btn btn-alt" %>
</div>
