<% content_for :title, "Editing exercise event" %>

<h1 class="page-heading">Editing exercise event</h1>

<%= render "form", exercise_event: @exercise_event %>

<br>

<div class="actions">
  <%= link_to "Show this exercise event", @exercise_event, class: "btn btn-primary" %>
  <%= link_to "Back to exercise events", exercise_events_path, class: "btn btn-alt" %>
</div>
