<div id="<%= dom_id predefined_event_transition %>">
  <dl class="item-dl">
    <dt class="item-dt">From event</dt>
    <dd class="item-dd"><%= predefined_event_transition.from_event_id %></dd>

    <dt class="item-dt">To event</dt>
    <dd class="item-dd"><%= predefined_event_transition.to_event_id %></dd>

    <dt class="item-dt">Condition</dt>
    <dd class="item-dd"><%= predefined_event_transition.condition %></dd>

  </dl>
</div>
