<% content_for :title, "New exercise" %>

<h1 class="page-heading">New exercise</h1>

<%= render "form", exercise: @exercise %>

<br>

<div class="actions">
  <%= link_to "Back to exercises", exercises_path, class: "btn btn-alt" %>
</div>
